body {
  width: 400px;
  height: 250px;
  min-height: 150px;
  padding: 10px;
}

#wrapper {
  text-align: center;
}

.mdl-layout__container {
  position: inherit;
}

.title {
  font-size: 18px;
  margin-top: 15px;
}

.mdl-button {
  text-transform: none;
}

.btn {
  cursor: pointer;
}

.textbox-area {
  display: flex;
  justify-content: center;
}

.lonlat {
  width: 160px;
}

.first-box {
  margin-right: 20px;
}
